{% extends 'base.html' %}

{% block content %}


<div class='book-list'>

    <div class="suggestion-box">
        <div class='drop-down-container'>
            <div class="dropdown">
                <button type="button" class="dropdown-trigger">Sort by:</button>
                <div class="dropdown-menu">
                    <a href="{{request.path}}?sort=date">Date Added (oldest first)</a>
                    <a href="{{request.path}}?sort=date-reverse">Date Added reverse</a>
                    <a href="{{request.path}}?sort=title">Title</a>
                    <a href="{{request.path}}?sort=author">Author</a>
                </div>
            </div>


            <div class="dropdown">
                <button type="button" class="dropdown-trigger">Programming Language:</button>
                <div class="dropdown-menu">
                    {% for cat in categories %}
                    <a href="{% url 'cat_list' cat.slug %}">{{cat.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class='suggest-button' href="{% url 'book_suggestion' %}">Suggest a book</a>
    </div>

    <dl>
        {% for book in books %}
        <dt><a href='{{book.url}}'>{{book.title}}</a></dt>
        <dt>{{book.author}}</dt>
        <dd>{{book.description}}</dd>
        <ul class='categories'>
            {% if book.category %}
            {% for cat in book.category.all %}
            <li class='language-category'>
                <a href="{% url 'cat_list' cat.slug %}">{{ cat.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        <dd class='created-date'>Book added: {{book.created_at}}</dd>

        {% endfor %}
    </dl>

    {% endblock content %}