{% extends 'base.html' %}

{% block content %}

    <dl>

        {% for book in books %}
        <h1>{{hello}}</h1>
        <dt><a href='{{book.url}}'>{{book.title}}</a></dt>
        <dt>{{book.author}}</dt>
        <dd>{{book.description}}</dd>
        <dd class='created-date'>Book added: {{book.created_at}}</dd>
        <ul class='categories'>
            {% for cat in book.category.all %}
            <li class='language-category'>{{ cat.name }}</li>
            {% endfor %}
        </ul>
        

        {% endfor %}
    </dl>
        
{% endblock content %}


