{% extends 'base.html' %}

{% block content %}


<div class='book-list'>

    <div class="suggestion-box">
        <div class='drop-down-container'>
            <div class="dropdown">
                <button type="button" class="dropdown-trigger">Sort by:</button>
                <div class="dropdown-menu">
                    <a href="{{request.path}}?sort=date">Date Added (oldest first)</a>
                    <a href="{{request.path}}?sort=date-reverse">Date Added reverse</a>
                    <a href="{{request.path}}?sort=title">Title</a>
                    <a href="{{request.path}}?sort=author">Author</a>
                </div>
            </div>


            <div class="dropdown">
                <button type="button" class="dropdown-trigger">Language:</button>
                <div class="dropdown-menu">
                    {% for cat in categories %}
                    <a href="{% url 'cat_list' cat.slug %}">{{cat.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class='suggest-button' href="{% url 'book_suggestion' %}">Suggest a book</a>
    </div>

    <div class='book-container'>
        {% for book in books %}
        <div class='book-box'>
            <dt class='title-container'>
                <a class='book-title' href='{{book.url}}'>{{book.title}}</a>
                {% if user.is_authenticated %}
                <div class='click-fav' data-id="{{book.pk}}">
                    {% if book.pk in favorites %}
                        <i class='fas fa-star favorite'></i>
                    {% else %}
                        <i class="far fa-star non-favorite"></i>
                    {%endif %}
                </div>
                {% endif %}
            </dt>
            <dt>{{book.author}}</dt>
            <dd>{{book.description}}</dd>
            <ul class='categories'>
                {% if book.category %}
                {% for cat in book.category.all %}
                <li class='language-category'>
                    <a href="{% url 'cat_list' cat.slug %}">{{ cat.name }}</a>
                </li>

                {% endfor %}
                {% endif %}
            </ul>
            <dd class='created-date'>Book added: {{book.created_at}}</dd>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}