* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.865)
}
.header {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.865);
  padding: 2rem;
}

.book_list {
  margin: 20px;
}

.created-date {
  color: rgb(128, 128, 128);
  font-size: .5rem;
}