* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.865);
}

.dropdown {
  padding: 1rem;
}

.header {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.865);
  padding: 2rem;
}

.header a {
  color: white;
}
.suggestion-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.suggestion {
  font-size: 1.1rem;
  background-color: rgb(156, 213, 226);
  padding: 5px 8px;
  margin-left: 1rem;
  border-radius: 13px;
  white-space: nowrap;
}

.book-list {
  padding: .5rem 1rem ;
}

.book-list ol,dl,dd {
  margin-bottom: .2rem;
}

.created-date {
  color: rgb(128, 128, 128);
  font-size: .5rem;
}

.categories {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.language-category a {
  /* display: inline; */
  color: whitesmoke;
  font-size: .85rem;
  font-weight: 500;
  background-color: rgb(17, 103, 122);
  padding: 5px 8px;
  margin-left: 1rem;
  border-radius: 13px;
  white-space: nowrap;
}

.language-category a:hover {
  color: white;
  background-color: rgb(22, 136, 161);
}